<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div id="view4">
	<div>
		<div class="view4Box1">
			<span ng-show="error" style="color:red;">{{status}}</span>
			<img ng-src="{{dish.ImageURL}}" style="width:300px; height:300px;"/>
			</br>
			<h1>{{dish.Title}}</h1>
			</br>
			</br>
			<h2>Description</h2>
			{{dish.Description}}
			</br></br>
			<a href="#/search" class="btn btn-primary" style='display:block; width:150px;'>Back to Select Dish</a>
		</div>
		<div class="view4Box2">
			<h3><strong>INGREDIENTS FOR {{numberOfGuests}} PEOPLE</strong></h3>
			<hr/>
				<table>
					<tr ng-repeat="element in dish.Ingredients">
						<td width=100px>{{float2Int(element.MetricQuantity*numberOfGuests)}} {{element.MetricUnit}}</td>
						<td width=300px>{{element.Name}}</td>
						<td width=100px>{{float2Int(element.MetricQuantity*numberOfGuests)}} SEK</td>
					</tr>
				</table>
			<hr/>
			<a href="#/search" ng-click="confirmButton()" class="btn btn-primary" style='float:left;'>Confirm Dish</a>
			<span style='float:right;'>Price: SEK {{price}}</span>
		</div>
		<div class="view4Box3">
			<br/>
			<strong>PREPERATION/Instructions</strong>
			<br/><br/>
			{{dish.Instructions}}
		</div>
	</div>
</div>